
@media screen and (max-width: 1441px){
    #logo img{
        width: 5.5rem;
        padding-top: 0.75rem;
    }
    #logo-h h1{
        font-size: 2.25rem;
        top: 0;
    }
    #nav{
        width: 60%;
        justify-content: flex-end;
    }
    nav{
        width: 60%;
    }
    #nav .icons a{
        margin-left: 4rem;
    }
    h2.all-h{
        font-size: 2.5rem;
    }
    /* Courses web page */
    .web .row .column{
        width: 27%;
    }
    .web{
        padding-top: 0;
    }
    /* Welcome section */

    #welcome img{
        width: 40rem;
        height: 40rem;
        top: 12rem;
        right: 0rem;
    }
    #w-text{
        width: 40%;
    }
    /* Our Work section */
    #us-content img{
        width: 40rem;
    }

    /* Communnity */
    #community #c-content{
        top: 15%;
    }
    #community #c-content .c-text{
        width: 27%;
    }

    /* Courses section */

    #courses #courses-content{
        justify-content: space-between;
    }
    #courses #courses-content .co-text{
        width: 30%;
    }

    /* Slider section reviews */

    .comments{
        justify-content: space-between;
    }
    .comments .com-content{
        width: 48%;
    }
    .comments .com-content .right .text-com p{
        font-size: 1.3rem;
    }
    /* Contact section */
    #forma {
        width: 50%;
    }
    /* Author section */

    #author-container img{
        width: 30%;
    }
    #author-container p{
        width: 35%;
    }
     /* Modal Sign in */
     .coursesPage{
        top: 10%;
    }   
}
@media screen and (max-width: 1340px){
    #community #c-content .c-text{
        height: auto;
    }
}
@media screen and (max-width: 1250px){
    #courses-content .co-text .added{
        font-size: 1.35rem;
    }
}
@media screen and (max-width: 1126px){
    #courses-content .co-text .added{
        margin-left: 0%;
    }
}
@media screen and  (max-width: 1025px){
    #nav{
        width: 70%;
    }
    nav{
        width: 70%;
    }
    /* Courses Page */
    .web .row{
        flex-direction: column;
    }
    .web .row .column{
        width: 40%;
        margin-bottom: 2rem;
    }
        /* Welcome section */

        #welcome{
            height: 85vh;
        }
        #welcome img{
            width: 30rem;
            height: 30rem;
        }
        #w-text{
            top: 35%;
        }
        #w-text h1 {
            font-size: 2.5rem;
        }
        #w-text p {
            padding-top: 1rem;
            font-size: 1.5rem;
        }
        #w-text .btn-link {
            width: 95%;
        }
        .btn-link a{
            padding: 0.75rem 2rem;
        }

        /* Our Work section */
    

        #us-content img{
            display: none;
        }
        #us-content #us-text{
            width: 80%;
            margin: 0 auto;
        }
        #us-content #us-text .btn-link{
            margin: 0 auto;
            width: 22%;
        }
        /* Communnity */
        #community{
            padding: 2% 2%;
        }
        #community #c-content .c-text{
            width: 30%;
        }
    
        /* Courses section */
        #courses{
            padding: 2% 2%;
        }
        #courses #courses-content .co-text{
            width: 32%;
        }
    
        /* Slider section reviews */
    
        .comments{
            flex-direction: column;
        }
        .comments .com-content{
            width: 90%;
            margin: 0 auto;
        }
        .comments .com-content:nth-child(1){
            margin-bottom: 3rem;
        }
        .comments .com-content .right .text-com p{
            font-size: 1.5rem;
        }
        /* Contact section */
        #contact #contact-container #img-contact{
            display: none;
        }
        #contact #contact-container{
            width: 80%;
            margin: 0 auto;
        }
        #forma {
            width: 100%;
        }
        #forma #forma1{
            width: 100%;
        }
        #forma1 input, select, textarea{
            font-size: 1.5rem;
        }
        #forma1 select *{
            font-size: 1.2rem;
        }
       
        /* Author section */
    
        #author-container img{
            width: 45%;
        }
        #author-container p{
            width: 45%;
        }

        /* Span for home page add to cart button */
        #courses-content .co-text .added{
            margin-left: 10%;
        }
}
@media screen and (max-width: 991px){
    #us #us-content #us-text .btn-link{
        width: 25%;
    }
}
@media screen and (max-width: 886px){
    #us #us-content #us-text .btn-link{
        width: 29%;
    }
    #courses-content .co-text .added{
        margin-left: 0%;
    }
}
@media screen and (max-width: 805px){
    #courses-content .co-text .added{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 769px){
    h2.all-h {
        font-size: 3rem;
    }
    /* Courses page */
    .web .row .column{
        width: 60%;
    }
    .web .row .column .courses-desc h3{
        font-size: 2rem;
    }
    .courses-desc p{
        font-size: 1.5rem;
    }
    .btn-to-cart{
        font-size: 1.5rem;
    }
    .web .row .column .fa-regular{
        top: 12%;
    }

    /* footer */

    footer{
        flex-direction: column;
    }
    footer a{
        font-size: 1.85rem;
    }
    #site-content{
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    #site-content h3{
        font-size: 2.35rem;
    }
    #site-content ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #copy{
        width: 100%;
        font-size: 1.85rem;
        margin-bottom: 1rem;
    }
    #copy #footer-links a{
        font-size: 2rem;
    }
    #footer-txt{
        width: 100%;
        font-size: 1.85rem;
        text-align: center;
        padding-bottom: 2rem;
    }
    /* Welcome section */

    #welcome{
        height: 100vh;
    }
    #welcome img{
        display: none;
    }
    #w-text{
        width: 80%;
        margin: 0 auto;
    }
    #w-text h1 {
        font-size: 3rem;
        text-align: center;
    }
    #w-text p {
        font-size: 2rem;
        text-align: center;
    }
    .btn-link a{
        font-size: 1.5rem;
    }

    /* Our Work section */


    #us-content #us-text{
        width: 100%;
        padding-top: 4rem;
    }
    #us-content #us-text .btn-link{
        width: 25%;
    }
    /* Communnity */
    #community #c-content{
        flex-direction: column;
        top: 5%;
    }
    #community #c-content .c-text{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    /* Courses section */
    #courses #courses-content{
        flex-direction: column;
    }
    #courses #courses-content .co-text{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    #courses .btn-link{
        margin-bottom: 2rem;
        padding-top: 4rem;
    }

    /* Contact section */

    #contact #contact-container{
        width: 100%;
    }
    /* Author section */

    #author-container{
        flex-direction: column;
    }
    #author-container p{
        width: 80%;
        margin: 0 auto;
        font-size: 1.75rem;
    }
    #author-container img{
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }


    /* Nav bar hamburger */

    header #nav .fa-bars{
        display: flex;
        color: #3669BA;
        margin-left: 4rem;
        font-size: 1.6rem;
        top: 0.5rem;
        position: relative;
        height: 30px;
    }
    header #nav nav{
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0%;
        background-color: #3669BA;
        width: 70%;
        height: 100vh;
        padding: 0 2rem;
        transform: translateX(100%);
    }
    header #nav nav .fa-xmark{
        display: flex;
        position: relative;
        font-size: 2.5rem;
        top: 2%;
    }
    header #nav nav ul{
        display: flex;
        margin-top: 50%;
        flex-direction: column;
        width: 100%;
    }
    header #nav nav ul li{
        border-bottom: 1px solid #1D212B;
        padding: 1.5rem 0;
        text-align: center;
        width: 55%;
        margin: 0 auto;
    }
    header #nav nav ul li:nth-child(4){
        border: none;
    }
    header #nav nav.showmenu{
        transform: translateX(0%);
    }
    /* Modal Sign in */
    .modalLogin{
        right: 3%;
        top: 10%;
    } 
      /* Cart modal */
      .homeP{
        top: 10%;
        right: 20%;
      }
    .web .row .column .added{
        height: 2.2rem;
        font-size: 1.5rem;
    }
    #courses-content .co-text .added{
        font-size: 1.5rem;
        margin-left: 10%;
    }
}
@media screen and (max-width: 641px){
    #courses-content .co-text .added{
        margin-left: 0%;
    }
}
@media screen and (max-width: 582px){
    #us #us-content #us-text .btn-link{
        width: 37%;
    }
    .homeP {
        top: 12%;
    }
    .modalCart{
        top: 11.5%;
    }
    /* Courses section */
    #courses{
        overflow-x: hidden;
    }
    #courses #courses-content .co-text{
        width: 100%;
    }
    #courses-content .co-text .added{
        margin-left: 25%;
    }
}
@media screen and (max-width: 515px){
    #us #us-content #us-text .btn-link{
        width: 42%;
    }
    .web .row .column .added{
        font-size: 1.25rem;
    }
    #courses-content .co-text .added{
        margin-left: 15%;
    }
}
@media screen and (max-width: 454px){
    #us #us-content #us-text .btn-link{
        width: 48%;
    }
}
@media screen and (max-width: 426px){
    h2.all-h{
        font-size: 2.5rem;
    }
    /* Courses page */
    .web .row .column{
        width: 90%;
    }
    /* footer */

    footer a{
        font-size: 1.7rem;
    }
    #site-content h3{
        font-size: 2rem;
    }
    #site-content ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    #site-content ul li{
        margin: 0 1rem;
    }
    #copy{
        font-size: 1.7rem;
    }
    #copy #footer-links a{
        font-size: 1.7rem;
    }
    #footer-txt{
        font-size: 1.7rem;
    }
    /* Welcome section */

    #w-text{
        width: 100%;
        top: 30%;
    }

    /* Our Work section */
    #us-content #us-text .btn-link{
        width: 46%;
    }
    /* Communnity */
    #community #c-content .c-text{
        width: 100%;
    }
    /* Review section */
    .comments .com-content{
        flex-direction: column;
        width: 100%;
    }
    .comments .com-content .left .img-rev{
        margin: 0 auto;
    }
    .comments .com-content .left .stars{
        flex-direction: row;
        margin: 0 auto;
    }
    .comments .com-content .left .stars i{
        padding: 0.5rem;
    }
    .comments .com-content .right .name{
        text-align: center;
    }
    .slide-2 .com-content .left .stars{
        flex-direction: row-reverse;
    }

    /* Contact section */

    #forma1 input[type=submit]{
        width: 50%;
    }
    /* Author section */

    #author-container img{
        width: 60%;
    }
    #author-container p{
        width: 100%;
    }

    /* Nav bar hamburger */

    header #nav .fa-bars{
        margin-left: 2rem;
    }
    header #nav .icons a{
        margin-left: 2rem;
    }
    /* Courses page span and cart modal */

    .modalCart{
        right: 23%;
    }
}
@media screen and (max-width: 395px){
    #us #us-content #us-text .btn-link{
        width: 55%;
    }
}
@media screen and (max-width: 376px){
    /* Courses page */
    .web .row .column .btn-to-cart{
        width: 50%;
        margin-left: 25%;
    }
    .web .row .column{
        width: 100%;
        box-shadow: none;
        border-bottom: 2px solid #1D212B;
    }

    /* Welcome section */

    #w-text{
        top: 24%;
    }
    #w-text .btn-link {
        flex-direction: column;
     }
     #w-text .btn-link a{
         width: 60%;
         font-size: 1.5rem;
         margin: 0 auto;
         margin-bottom: 1rem;
     }

    /* Header */
    header #nav .icons{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        top: -20%;
    }
    header #nav .icons a{
        margin-bottom: 1rem;
    }
    header #nav .icons a i{
        left: 10%;
    }
    header #nav .icons a:nth-child(2){
        left: 5%;
        position: relative;
    }
    #courses-content .co-text .added{
        margin-left: 12%;
    }

}
@media screen and (max-width: 395px){
    #us #us-content #us-text .btn-link{
        width: 65%;
    }
}
@media screen and (max-width: 321px){
    /* Our Work section */
    #us-content #us-text .btn-link{
        width: 60%;
    }
    /* Review section */
    #reviews .btnSlide{
        margin-top: 4rem;
    }

    header #logo #logo-h{
        display: none;
    }
    /* Modal Sign in */
    .modalLogin{
        right: 0%;
    }
    #courses-content .co-text .added{
        margin-left: 4%;
    }
}