@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    transition: 0.7s;
}
:root{
    background-color: #fff;
}
html {
    scroll-behavior: smooth;
}
header {
    position: absolute;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    overflow-x: hidden;
}

#logo {
    width: 25%;
    display: flex;
    flex-direction: row;
}
#logo img {
    width: 6rem;
}
#logo-h h1 {
    font-weight: 400;
    font-size: 2.45rem;
    padding-left: 1rem;
    position:relative;
    top: -0.75rem;
}
#nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-top: 1.75rem;
    margin-right: 2rem;
}
nav {
    width: 70%;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}
nav ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
}
nav ul li a:hover {
    color: #3669BA;
}
#nav .icons a {
    margin-left: 5.5rem;
}
#nav .icons a i{
    color: #3669BA;
    font-size: 1.6rem;
    top: 0.5rem;
    position: relative;
}
section {
    padding: 2% 9%;
}
#welcome {
    overflow-x: hidden;
    background-color: #1D212B;
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#welcome img {
    width: 45rem;
    height: 45rem;
    position: relative;
    top: 7rem;
    right: 3.5rem;
}
#w-text {
    position: relative;
    top: 34%;
    color: #fff;
    width: 30%;
    height: 30%;
}
#w-text h1 {
    font-size: 3.5rem;
    font-weight: 400;
}
#w-text p {
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: 300;
}
#w-text .btn-link {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    width: 87%;
}
.btn-link a{
    color: #3669BA;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.75rem 3rem;
    border: 3px solid #3669BA;
    width: 45%;
    text-align: center;
}
.btn-link a:hover {
    background-color: #3669BA;
    color: #fff;
}

/* H2 heading style  */

h2.all-h {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding: 1.5rem;
    color: #1D212B;
}

/* Our Work */
#us {
    height: auto;
    display: flex;
    flex-direction: column;
}
#us-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#us-content img {
    width: 45rem;
    position: relative;
    top: -2rem;
}
#us-text {
    width: 42.5%;
    padding-top: 8rem;
}
#us-text p {
    color: #1D212B;
    font-size: 1.85rem;
    font-weight: 300;
    padding-bottom: 5rem;
    text-align: justify;
}

/* Community */

#community {
    display: flex;
    flex-direction: column;
    height: auto;
}
#community #c-content {
    display: flex;
    margin: 6rem 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    top: 20%;
    position: relative;
}
.c-text {
    box-shadow: 0px 4px 15px rgba(29, 33, 43, 1.0);
    width: 24%;
    font-size: 1.75rem;
    height:  20rem;
    cursor: pointer;
}
.c-text:hover .c-icon {
    background-color: #3669BA;
}
.c-text:hover .c-icon i {
    color: #fff;
}
.c-text p {
    text-align: justify;
    padding: 1rem 2.5rem 2.5rem;
    color: #1D212B;
}
.c-text .c-icon {
    background-color: #fff;
    position: relative;
    top: -2rem;
    left: 40%;
    box-shadow: 0px 4px 15px rgba(29, 33, 43, 1.0);
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 50px;
}
.c-text .c-icon i{
    color: #1D212B;
    font-size: 2.5rem;
    position: relative;
    left: 20%;
    top: 20%;
}
.c-text:nth-child(2) .c-icon i{
    left: 17%;
    font-size: 2.25rem;
}
.c-text:nth-child(3) .c-icon i{
    left:16%;
}

/* Courses section */

#courses {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #1D212B;
}
#courses h2 {
    color: #fff;
}
#courses #courses-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3.5rem;
}
#courses .btn-link {
    margin: 0 auto;
}
#courses-content .co-text {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 1.0);
    width: 22%;
    font-size: 1.75rem;
    position: relative;
}
#courses-content .co-text p {
    color: #fff;
    text-align: center;
    font-weight: 300;
    padding: 1.5rem 0;
    width: 80%;
    margin: 0 auto;
}
#courses-content .co-text .co-img  {
    width: 90%;
    margin: 1rem;
    height: 12rem;
    border: 3px solid #fff;
}
#courses-content .co-text .co-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
#courses-content .co-text .fa-regular {
    position: absolute;
    color: #fff;
    font-size: 4rem;
    top: 18%;
    left: 40%;
}
.btn-to-cart {
    color: #fff;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border: 3px solid #3669BA;
    text-align: center;
    cursor: pointer;
    width: 50%;
    background: #3669BA;
    margin: 2% 25% 10% 25%;
}
#courses-content .co-text .added{
    height: 2rem;
    color: rgb(110, 220, 83);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 10%;
}
#courses .btn-link {
    padding-top: 7rem;
    margin-bottom: 4rem;
}

/* Review section */

#reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.comments {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 6rem 0 4rem;
    transition: 1s;
}
.comments .com-content {
    display: flex;
    flex-direction: row;
    width: 40%;
    background-color: #1D212B;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 1.0);
    padding: 1rem;
    color: #fff;
}
.comments .com-content .left {
    display: flex;
    flex-direction: column;
}
.comments .com-content .left .img-rev {
    width: 5rem;
    height:5rem;
    object-fit: cover;
    margin: 0 1rem 1rem 0;
}
.comments .com-content .left .img-rev img {
    height: 5rem;
    width: 5rem;
    border-radius: 100px;
}
.comments .com-content .left .stars {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 0.75rem;
    margin-top: 0.5rem;
}
.comments .com-content .left .stars i{
    color: gold;
    padding: 0.35rem 0;
}
.comments .com-content .right .name h3{
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: 400;
}
.comments .com-content .right .text-com p{
    font-size: 1.2rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    font-weight: 300;
    text-align: justify;
}
.comments .com-content .right hr {
    width: 95%;
    border: none;
    background-color: #1D212B;
    height: 2px;
    border-top: 2px solid #fff;
    position: relative;
    left: 1.5%;
}

.btnSlide {
    width: 125px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
}
.btnSlide .dot {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 3px solid #3669BA;
    cursor: pointer;
    border-radius: 50px;
}
.btnSlide .active-dot {
    background: #3669BA;
}
.wrap-slide {
    position: relative;
    width: 100%;

}
.slide-2 {
    position: absolute;
    top: 0;
    transform: translateX(125%);
}

/* Contact */

#contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
#contact-container {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#img-contact img{
    width: 85%;
    margin-bottom: 4rem;
}
#icons-contact {
    width: 85%;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
}
#icons-contact a {
    color: #fff;
    background-color: #3669BA;
    border-radius: 50px;
    width: 3rem;
    height: 3rem;
    margin: 1rem 2rem;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 0.15rem;
    padding-right: 0.05rem;
}
#icons-contact a:hover {
    background-color: #1D212B;
}
#forma {
    width: 40%;
}
#forma1 {
    display: flex;
    flex-direction: column;
    width: 85%;
}
#forma1 input, select, textarea {
    padding: 0.5rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border: 2px solid #3669BA;
}
textarea {
    resize: none;
}
#forma1 input[type=submit]{
    width: 25%;
    cursor: pointer;
    margin: 0 auto;
    color: #3669BA;
    background-color: #fff;
    border: 2px solid #3669BA;
}
#forma1 input[type=submit]:hover {
    color: #fff;
    background-color: #3669BA;
}
#forma1 span{
    color: red;
    margin-bottom: 1rem;
}

/* Author */

#autor {
    display: flex;
    flex-direction: column;
}
#author-container {
    padding: 4rem 0;
    color: #1D212B;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#author-container img {
    width: 22.5%;
    border: 5px double #3669BA;
    margin-right: 2rem;
}
#author-container p {
    width: 25%;
    font-size: 1.5rem;
    text-align: justify;
}

/* Footer */

footer{
    padding: 2% 7%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
    align-items: center;
    background-color: #1D212B;
}
footer a{
    text-decoration: none;
    color: #3669BA;
    font-size: 1.25rem;
}
#site-content {
    width: 25%;
}
#site-content h3 {
    font-size: 1.5rem;
    font-weight: 300;
}
#site-content ul {
    list-style-type: none;
}
#site-content ul li{
    padding: 0.5rem 0;
}
#copy {
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
}
#copy p {
    padding-bottom: 2rem;
}
#copy #footer-links a{
    font-size: 1.5rem;
    padding: 0 0.5rem;
}
#footer-txt {
    width: 25%;
    font-size: 1.5rem;
}
#footer-txt p:nth-child(1){
    text-align: justify;
    padding-bottom: 2rem;
}

/* Courses Web Page */
/* Header on other pages */
.other {
    position: relative;
    padding: 1% 3%;
    background-color: #1D212B;
}
main {
    background-color: #fff;
}
.web {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}
.web .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
    padding: 2rem 0 4rem;
}
.web .row .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 1.0);
    font-size: 1.2rem;
    position: relative;
}
.web .row .column .courses-desc {
    padding: 1.5rem;
}
.web .row .column .courses-desc h3{
    padding-bottom: 1rem;
}
.web .row .column .courses-img {
    width: 90%;
    margin: 1.2rem 1.2rem 0.75rem;
    height: 12rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.0);
}
.courses-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.web .row .column .fa-regular{
    position: absolute;
    color: #fff;
    font-size: 4rem;
    top: 13%;
    left: 40%;
}
.web .row .column .btn-to-cart {
    width:35%;
    margin-left: 30%;
    margin-bottom: 1rem;
}
.web .row .column .added{
    height: 2rem;
    width: 100%;
    text-align: center;
    color: rgb(110, 220, 83);
}

/* Content reveal on scroll */

.section_hidden {
    opacity: 0;
    transform: translateY(10rem);
}  
.reveal {
    transition: transform 1s, opacity 1s;
}

.right-reveal {
    transition: transform 1.75s, opacity 1s;
}
.element_hiddenR {
    opacity: 0;
    transform: translateX(20rem);
}

.left-reveal {
    transition: transform 1.75s, opacity 1s;
}
.element_hiddenL {
    opacity: 0;
    transform: translateX(-20rem);
}


/* Responsive nav bar blocks */

header #nav .fa-bars,nav .fa-xmark{
    display: none;
}

/* Login */

.modalLogin {
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.0);
    position: absolute;
    top: 15%;
    right: 5%;
}
.modalLogin #login {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}
.modalLogin #login input{
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
.modalLogin #login input:first-child{
    margin-top: 1rem;
}
.modalLogin #login input[type=submit]{
    width: 40%;
    padding: 0.25rem;
    cursor: pointer;
    margin: 0.5rem auto;
    color: #fff;
    background-color: #3669BA;
    border: none;
}
.hidden {
    display: none;
}
.flex {
    display: flex;
    align-items: center;
}

/* Cart */

.modalCart{
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.0);
    height: auto;
    width: 15rem;
    position: absolute;
    top: 10%;
    right: 10%;
}
.modalCart .sum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.homeP{
    top: 15%;
}
#suc, #userName, #passwordRe, #signInSuc{
    display: none;  
    margin: 0 auto;
    font-size: 1.2rem;
}
#userName, #passwordRe{
    color: red;
}